*{
    font-family: 'Open Sans', sans-serif;
    font-size: 0;
}
/*----------header-------------*/
.head{
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-logo{
    display: flex;
    align-items: center;
}
.head-logo-img{
    padding: 22px 27px;
}
.head-logo-text{
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
}
.head-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50%;
}
.head-nav-text{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
}
.head-nav-text:hover {
    color: #14B9D5;
}
.head-search {
    padding: 26px;
    background: #000;
    align-self: center;
}
/*-----------section first-back-----------*/
.back-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 164px 0 75px;
}
.first-back{
    background-image: url("../img/first-backgrnd.jpeg");
    background-position: 0 -300px;
    background-size: cover;
    background-attachment: fixed;
}
.first-back-title{
    display: block;
    margin:0 0 45px;
    font-weight: bold;
    font-size: 27px;
    color: #ffffff;
}
.first-back-btn-flex{
    display: flex;
    justify-content: center;
}
.first-back-btn{
    font-weight: 600;
    font-size: 18px;
    width: 170px;
    padding: 17px 0;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
}
.first-back-btn:first-child{
    margin-right: 20px;
}
.first-back-btn-subscribe{
    background: #89CA62;
    border:1px solid #89CA62;
}
.first-back-btn-best{
    background: #14B9D5;
    border:1px solid #14B9D5;
}
/*-----------main content------------*/
.main-background{
    background: #F2F2F2;
}
.main-content{
    width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
}
.main-title{
    display: block;
    margin: 0 0 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
}
.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-between;
    height: 860px;
    margin-bottom: 50px;
}
.gallery-items{
    margin: 0;
    width: 370px;
}
.gallery-items-text{
    display: block;
    text-align: center;
    padding: 22px 0;
    font-weight: bold;
    font-size: 18px;
    background: #ffffff;
    margin-bottom: 30px;
}

/*----------second-back--------------*/
.second-container{
    width: 881px;
    margin: 0 auto;
    padding: 117px 0 185px;
}
.second-back{
    background-image: url("../img/second-backgrnd.jpeg");
    background-position: 0 -300px;
    background-size: cover;
    background-attachment: fixed;
}
.second-title{
    display: grid;
    justify-items: center;
    grid-gap: 75px;
    margin-bottom: 100px;
}
.second-title-text{
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #F2F2F2;
}
.second-title-line{
    display: block;
    width: 60px;
    border: 1px solid #18B4CF;
}
.position-tm{
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}
/*-------------------top-title--------------------------------*/
.top-title{
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    margin: 51px auto;
    color: #18B4CF;
}
.gallery-img{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.gallery-img-width{
    max-width: 100%;
}
/*-------------------------hot-news--------------------------*/
.hot-news-title{
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 50px;
}
.hot-wrap{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.hot-news-img{
    max-width: 100%;
}
.hot-text-wrap{
    padding: 15px;
    background: #F9F7F7;
    display: grid;
    grid-gap: 20px;

}
.hot-text-subtitle{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    color: #353A3D;
    margin: 0;
}
.hot-text{
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    margin: 0;
}
.hot-text-subtitle-ver2{
    background: #F9F7F7;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}
.hot-news-gallery{
    width: 1170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 45px;
    margin-bottom: 75px;
}
.hot-gallery-third{
    background: #F9F7F7;
    grid-column: span 3;
    margin: 0;
}
.hot-gallery-square{
        margin: 0;
}
.hot-gallery-middle{
    grid-column: span 2;
    margin: 0;
}

/*----------------------footer----------------------------*/
.foot{
    background: #000000;
}
.foot-container{
    width: 1170px;
    margin: 0 auto;
}

.foot-grid{
    display: grid;
    grid-auto-flow: column;
    align-items:center;
    justify-content: space-between;
    padding: 20px 0;
}
.footer-text{
    margin: 0;
    font-size: 13px;
    color: #FFFFFF;
}
.footer-logo{
    text-align: right;
}