* {
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.container {
    margin: 50px auto;
    width: 500px;
}
.wrapper {
    border: 5px solid green;
    box-shadow: 5px 8px 15px rgba(0, 255, 0, 0.5);
}
.wrapper-positive{
    box-shadow: 5px 8px 15px rgba(0, 255, 0, 0.5);
    color: green;
}
.wrapper-negative{
    border: 5px solid red;
    box-shadow: 5px 8px 15px rgba(255, 0, 0, 0.5);
    color: red;
}
.current-negative{
    display: inline-block;
    padding:  15px 65px;
    color: red;
}
.current-price{
    display: inline-block;
    padding:  15px 65px;
}
.btn{
    color: rgba(0, 0, 0, 0.22);
}
