* {
    font-family: sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.top-link {
    font-size: 80px;
    color: #000000;
}
.blue-text {
    color: #4bcaff;
}
.header-nav {
    margin-top: 25px;
    background-color: #35444f;
    text-align: center;
}
.header-link {
    display: inline-block;
    padding: 25px;
    font-size: 24px;
    color: #FFFFFF;
    border-left: 1px solid black;
}
.header-link:last-child {
    border-right: 1px solid black;
}
.main-content {
    margin-top: 30px;
}
.aside-nav {
    width: 344px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
}
.side-bar-item {
    padding: 30px 25px 30px 45px;
}
.main-article {
    width: 844px;
    display: inline-block;
    vertical-align: top;
    margin-left: 92px;
}
.aside-link {
    display: inline-block;
    font-size: 27px;
    color: #495863;
}
.img-container {
    border: 1px solid #000;
    padding: 75px 250px;
}
.img-main {
    width: 100%;
}
.main-article-text {
    margin: 25px 0 ;
    font-size: 18px;
    line-height: 1.5;
    color: #2C2C2C;
}
.bottom {
    background: #b4b7b9;
    padding: 30px;
}
.footer-list{
    display: inline-block;
}
.footer-bar-item {
    display: inline-block;
    margin: 0 15px;
}
.bottom-link {
    font-size: 28px;
    color: #0C1927;
}
.copyright {
    margin-left:170px;
    display: inline-block;
    font-size: 24px;
    color: #010101;
}