body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    background: #000000;
    overflow: hidden;
}
.scene{
    position:absolute;
    max-width: 400px;
    height: 1000px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    transform: perspective(50px) rotateX(22deg);
    transform-origin: 50% 40%;
}
.content{
    color: #dddd00;
    position: absolute;
    top: 100%;
    font-size: 36px;
    text-align: justify;
    animation: starWars 30s linear 5;
}
.title{
    text-align: center;
}
@keyframes starWars {
    0% {
        top: 100%;
    }
    100% {
        top: -200%;
    }
}