.page-background {
    height: 100vh;
    overflow-y: scroll;
    background: url("../img/background.png");
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.shadow {
    background: rgba(0, 0, 0, 0.4);
}

.head {
    width: 1155px;
    margin: 0 auto;
    padding: 20px 0;
}

.head-logo {
    float: left;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.head-logo:hover {
    color: #3cb878;
}

.head-right {
    float: right;
}

.icons {
    display: inline-block;
    margin:0 18px;
    width: 30px;
    height: 20px;
    background: url("../img/css_sprites.png") no-repeat;
}

.calendar {
    background-position: 0 -49px;
}

.calendar:hover {
    background-position: 0 -90px;
}

.forum {
    background-position: -9px -173px;
}

.forum:hover {
    background-position: -9px -215px;
}

.journey {
    background-position: -11px -257px;
}

.journey:hover {
    background-position: -11px -299px;
}

.head-text {
    float: right;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    text-transform: capitalize;
}

.head-text-decor {
    text-transform: none;
}

.head-text::before {
    content: "";
    border: 1px solid transparent;
    border-left-color: rgba(255, 255, 255, 0.9);
    margin-right: 29px;
}

.head-text-link {
    color: #ffffff;
}

.head-text-link:hover {
    color: #3cb878;
}
.form {
    width: 322px;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 30px 60px;
    box-sizing: content-box;
    transform: translateY(calc((100vh - 62px - 620px) / 2));
}
.form-head{
    margin-bottom:17px;
}
.authorization-SignUP {
    float: left;
    display: inline-block;
    text-transform: capitalize;
    font-size: 20px;
}

.authorization-SignUP::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.authorization-login {
    float: right;
    display: inline-block;
    font-size: 14px;
    color: #3cb878;
}

.button-facebook {
    position: relative;
    float: left;
    padding: 17px 20px 17px 50px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #305DB8;
}
.button-facebook::before{
    content: "";
    border: 1px solid transparent;
    border-left-color: #0A162F;
    padding: 7px 0;
    opacity: 0.1;
    margin-right: 20px;
}
.facebook{
    position: absolute;
    margin: 0;
    top: 14px;
    left: 20px;
    background-position: -11px -131px;
}
.button-google{
    position: relative;
    float: right;
    padding: 17px 30px 17px 55px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #DF4A32;
}
.button-google::before{
    content: "";
    border: 1px solid transparent;
    border-left-color: #2B0D09;
    padding: 7px 0;
    opacity: 0.1;
    margin-right: 20px;
}
.google{
    position: absolute;
    margin: 0;
    top: 17px;
    left: 16px;
    background-position: -11px -11px;
}
.separator{
    margin: 20px auto;
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}
.separator::before{
    content: "";
    display: inline-block;
    width: 142px;
    margin-right: 11px;
    border: 1px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.3);
}
.separator::after{
    content: "";
    display: inline-block;
    width: 142px;
    margin-left: 11px;
    border: 1px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.3);
}
.fill-fields {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 14px;
}
.fill-fields:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.fill-fields::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    margin-left: 18px;
}
.field-check {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;

}
.check-text {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #434343;

}
.check-text-color{
    color: #3CB878;
}
.field-button{
    margin: 25px 0;
    font-size: 16px;
    border-color: transparent;
    color: #ffffff;
    background-color: #3CB878;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}