.card{
  margin: 20px;
  width: 330px;
  padding: 10px;
  border: 1px solid rgba(45, 201, 10, 0.48);
  background: #e3bdec;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__title{
    font-size: 14px;
    text-transform: uppercase;
    color:blue;
  }
  &__star{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    width: 35px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #fff;
    &_back{
      background-color: gold;
    }
  }
 &__img{
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 10%;
   overflow: hidden;
   max-width: 100%;
   border: 12px solid rgba(31, 218, 181, 0.3);
 }
  &__price{
    color: #B53726;
    font-size: 12px;
    font-weight: bold;
  }
  &__btn{
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: darkblue;
    cursor: pointer;
  }

}
