.back{
    width: 700px;
    margin: 0 auto;
    padding: 35px 35px 120px;
    background: #fc0;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: justify;
}
.title{
    text-align: center;
    margin-bottom: 35px;
}
.initialize{
    color: red;
    text-transform: uppercase;
}