.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.disable {
    display: none;
}
.enable {
    display: inline;
}
.btn {
    margin: 20px 0 0 50px;
}