.back{
    height: 100vh;
    overflow-y: scroll;
    background: url('../img/background.png') center no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
.container {
    margin: 0 auto;
    width: 1030px;
}
.about-company {
     padding-top: 50px;
}
.logo-link {
    display: inline-block;
    width: 160px;
}
.logo-img {
    float: left;
    width: 53px;
    height: 47px;
}
.logo-text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: bold;
    padding-left: 8px;
}
.text-holidays {
    font-size: 18px;
}
.mail-tel {
    /*display: inline-block;*/
    float: right;
}
.info-link {
    display: block;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 8px;
}
.info-tel {
    margin-left: 70px;
}
a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}
.logo-link:hover .logo-img{
    content: url("../img/logo_orange.png");
}
.logo-link:hover .logo-text, .info-link:hover {
    color: #F26522;
}

.content {
    padding-top: 25px;
}
.event {
    display: inline-block;
    width: 300px;
    margin-right: 60px;
    margin-bottom: 35px;
}
.event-item {
    padding-top: 150px;
}
.event:nth-child(3n){
    margin-right: 0;
}
.event-shopping {
    background-image: url('../img/shopping.png');
}
.event-sight {
    background-image: url('../img/sight.png');
}
.event-food {
    background-image: url('../img/Food tours.png');
}
.event-bars {
    background-image: url('../img/bars.png');
}
.event-art {
    background-image: url('../img/Art.png');
}
.event-walking {
    background-image: url('../img/walking.png');
}

.event-details {
    opacity: 0;
    padding: 5px 20px 45px;
    background: #F26522;
}
.event-price {
    float: left;
    font-size: 20px;
}
.event-price::before{
    content: 'from';
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
}
.event-link {
    float: right;
    font-size: 14px;
    padding-top: 20px;
}
.event-link::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border:2px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    transform: rotate(45deg);
    margin-left: 15px;
}
.event:hover .event-details{
    opacity: 1;
}
.event:hover .event-text {
    color: #F26522;
}
.event-text {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.copyright {
    font-size: 12px;
    text-align: center;
    padding: 20px 0;
}

.clearfix::after{
    content: "";
    display: block;
}

.btn {
    position: absolute;
    background: #F26522;
    top: 25px;
    left: 15px;
    padding: 5px;
    border: 1px solid green;
    border-radius: 4px;
    box-shadow: 2px 4px 7px 0 #F26522;
}