.header{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  &__container{
    margin: 0 auto;
    width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    border: 12px solid rgba(6, 64, 241, 0.3);
  }
}