* {
  font-family: 'Roboto', sans-serif;
}

.container{
  margin: 0 auto;
  padding: 0 25px;
  @media screen and (min-width: 320px) {
    padding-top: 23px;
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 41px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 45px;
    width: 1200px;
  }
}
@import "sections/sections";