.btn {
  margin: 20px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 700px;
    background-color: #E94B35;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #ffffff;
    position: relative;
  }

  &__header {
    flex-basis: 100%;
    background-color: #D64531;
    padding: 30px;
    text-align: left;
    font-size: 22px;
  }

  &__text {
    padding: 40px;
    text-align: center;
    font-size: 18px;
  }

  &__section-btn {
    flex-basis: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    border: 0;
    width: 130px;
    margin: 0 10px;
    background-color: #B53726;
    padding: 20px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
  }

  &__close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
  }

  &__close:hover {
    cursor: pointer;
  }

  &__close:before, &__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
  }

  &__close:before {
    transform: rotate(45deg);
  }

  &__close:after {
    transform: rotate(-45deg);
  }
}