.foot {
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.foot__title {
  margin: 38px 0 10px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #FEFEFE;
}
.foot__text {
  margin: 0 35px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  color: #B9B9B9;
}
.foot__social {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}
@mixin social($color) {
  margin: 0 2px;
  display: flex;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border:2px solid $color;
}
.rss{
  @include social(#F8902E)
}
.facebook{
  @include social(#39599F)
}
.twitter{
  @include social(#45B0E3)
}
.dribbble{
  @include social(#D97AB0)
}
.printerest {
  @include social(#CC212C)
}
.foot__address{
  margin: 0 60px 45px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #B9B9B9;
}
