.head {
  position: relative;
  //width: 320px;
  //margin: 0 auto;

  &__burger {
    top: 23px;
    right: 0;
    height: 37px;
    width: 44px;
    background-color: #000;
    position: absolute;
    @media screen and (min-width: 768px) {
      display: none;
    }

    &::after,
    &::before {
      content: '';
      border: 1px solid #ffffff;
      width: 12px;
      position: absolute;
      left: 34%;
      transition: all 0.3s ease 0s;
    }

    &::after {
      top: 13px;
    }

    &::before {
      bottom: 13px;
    }

    & span {
      border: 1px solid #ffffff;
      width: 12px;
      position: absolute;
      left: 34%;
      top: 18px;
      transition: all 0.3s ease 0s;
    }

    &.active::after {
      transform: rotate(45deg);
      top: 18px;
    }

    &.active::before {
      transform: rotate(-45deg);
      bottom: 17px;

    }

    &.active span {
      transform: scale(0);
    }
  }
}

.head__nav {
  position: absolute;
  top: -5000px;
  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  width: 182px;
  @media screen and (min-width: 768px) {
    width: 605px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    width: 813px;
    margin: 0 auto;
  }

  &__link {
    font-size: 11px;
    text-transform: uppercase;
    color: #4E4E4E;

    &--text-blue {
      color: #57A4A4;
    }
  }

  &__item {
    padding: 8px 15px;
    background: #F5F5F5;
    @media screen and (min-width: 768px) {
      padding: 0;
      background: none;
    }

    &:hover {
      background: #E5E5E5;
    }
  }

  &.menu-active {
    position: absolute;
    top: 60px;
    right: 0;
    @media screen and (min-width: 768px) {
      position: static;
    }
  }
}

.intro-img {
  margin-top: 83px;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-top: 43px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 51px;
  }
}