.instagram {
  padding-bottom: 40px;
}
.instagram__title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #4E4E4E;

}
.instagram__img {
  width: 301px;
}