.posts {
  margin: 38px 0 78px;

  &__title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  &__item{

  }
}

.posts__img {
  margin: 23px 0 15px;
  width: 160px;
}

.posts__title-min {
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
  color: #4E4E4E;
}

.posts__text {
  margin-top: 10px;
  font-size: 11px;
  color: #7C7C7C;
}

.posts__text-comment {
  margin-left: 20px;
  position: relative;
}

.posts__text-comment::before {
  content: '';
  transform: rotate(110deg);
  border-bottom: 1px solid #7C7C7C;
  width: 10px;
  position: absolute;
  top: 45%;
  left: -15px;
}