table {
    border: 1px solid black;
    border-collapse: collapse;

}
td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}