.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.field{
    margin: 20px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;

}
td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.white {
    background-color: white;
}
.red {
    background-color: red;
}


button{
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    background: blue;
    border-radius: 5px;
    color: yellow;
}
button:hover{
    background: green;
    color: white;
}