.background {
    height: 100vh;
    background: #11651e;
    padding: 50px;
}

.pricing-table {
    margin: 0 auto;
    background: #fff;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    border-collapse: collapse;
    border: 20px solid #3A4965;
}

.info-choose {
    font-size: 18px;
    margin: 5px 0;
}

.info-plan {
    font-size: 30px;
    margin: 0;
}

.first-column {
    width: 313px;
    padding: 28px 0;
}
.other-column-head{
    width: 280px;
    padding-top: 28px;
}
.other-column {
    width: 280px;
    padding: 28px 0;
}

.head-price {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
.table-icon{
    margin-right: 10px;
    color: #848484;
    font-size: 24px;
}
.head-price-backstandar {
    background: #89C331;
}

.head-price-backultimate {
    background: #F04A56;
}

.head-price-backpremium {
    background: #20807C;
}

.price {
    font-size: 60px;
    font-weight: bold;
    position: relative;
}

.price-cent {
    position: absolute;
        top: 26px;
        left: 137px;
}
/*.price::after {*/
/*    content: '.99';*/
/*    font-size: 24px;*/
/*    position: absolute;*/
/*    top: 26px;*/
/*    left: 137px;*/
/*}*/

.price-cent {
    font-size: 24px;
}

.price-permonth {
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
}
.tfoot-back{
    background: #EEEEEE;
}
.button {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    width: 192px;
    padding: 15px 0 6px;
    border-radius: 5px;
    border:0;
}
.button:hover{
    color: #ffaf3d;
    border-radius: 15px;
    background: #172da6;
    border-bottom: 9px solid #a9a9ac;
}
.button-contact{
    background: #484848;
    border-bottom: 9px solid #404040;
}
.button-standart{
    background: #89C331;
    border-bottom: 9px solid #79B027;
}
.button-ultimate{
    background: #F04A56;
    border-bottom: 9px solid #DF3A46;
}
.button-premium{
    background: #20807C;
    border-bottom: 9px solid #16736F;
}
.table-cell{
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
}
.table-back:nth-child(even){
    background: #E3E3E3;
}
.table-back:nth-child(odd){
    background: #F2F2F2;
}
